<div class="col-lg-6 col-md-6">
  <div class="card card-primary">
    <div class="card-header primary-color white-text">
      Proposal payments
    </div>
    <div class="card-body">
      <table class="table table-bordered table-sm table-hover">
        <tbody>
          <tr>
            <td>
              <i class="fa fa-key"></i>
            </td>
            <th>Payment Address</th>
            <td colspan="3" id="budgetpubkey">???</td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-hourglass-start"></i>
            </td>
            <th>Proposal Time-Span</th>
            <td id="budgetblockstart">???</td>
            <td colspan="2" id="budgetblockend">???</td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-money"></i>
            </td>
            <th>Monthly Amount</th>
            <td id="budgetmonthlyamount">???</td>
            <td id="budgetmonthlyamountusd">???</td>
            <td id="budgetmonthlyamounteur">???</td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-money"></i>
            </td>
            <th>Remaining Amount</th>
            <td id="budgettotalamount">???</td>
            <td id="budgettotalamountusd">???</td>
            <td id="budgettotalamounteur">???</td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-clock-o"></i>
            </td>
            <th>Remaining Payments</th>
            <td id="budgetremainingpayments">???</td>
            <td id="budgetremainingpaymentsnext">???</td>
            <td id="budgetremainingpaymentsdate">???</td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-clock-o"></i>
            </td>
            <th>Total Payments</th>
            <td id="budgettotalpayments">???</td>
            <td colspan="2" id="budgettotalpaymentspolis">???</td>
          </tr>
          <tr>
            <td>
              <i class="fa fa-clock-o"></i>
            </td>
            <th>Last Paid</th>
            <td colspan="3" id="budgetlastpaid">???</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>