<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color-dark" [containerInside]="false">

  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" href="#" mdbWavesEffect [routerLink]="['/governance']">ZestCoin</a>
  </logo>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link hvr-ripple-out" mdbWavesEffect [routerLink]="['/governance']">Governance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-ripple-out" target="_blank" mdbWavesEffect href="https://www.zestcoin.io/">Website</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-ripple-out" target="_blank" mdbWavesEffect href="https://www.reddit.com/r/ZestCoin/">Reddit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-ripple-out" target="_blank" mdbWavesEffect href="https://discord.gg/ruATrCg">Discord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-ripple-out" target="_blank" mdbWavesEffect href="https://github.com/ZestFoundation">Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-ripple-out" target="_blank" mdbWavesEffect href="https://bitcointalk.org/index.php?topic=4151782">Bitcoin Talk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-ripple-out" target="_blank" mdbWavesEffect href="https://explorer.zestcoin.io/ ">Explorer</a>
      </li>

    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
