<footer id="footer">
  <div class="container">
    <p style="font-size:small;" align=right>Brought to you by
      <a class="badge badge-primary" href="https://github.com/Yoyae">Yoyae</a>. If this page is useful to you, spare some coin:
      <a href="https://explorer.polispay.org/address/PNAs38vz4b3jEsjbr8tKygtK4JmHwYDA8X">PNAs38vz4b3jEsjbr8tKygtK4JmHwYDA8X</a>
      <br>Check source (
      <a href="/LICENSE">GPLv3</a>) on:
      <a href="https://github.com/Yoyae/polisninja-fe">GitHub</a>.</p>
  </div>
</footer>