<!-- Governance Proposals -->
<div class="container container-padding">
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <h1 class="h1-responsive text-center">Governance Proposals</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header primary-color white-text">
          Proposal #
        </div>
        <div class="card-body">
          <!-- <h4 class="card-title">Special title treatment</h4> -->
          <span class="pull-left">Vote deadline:</span>
          <span class="pull-right" id="globalnextvotelimitdate" style="font-weight: bold">???</span>
          <br>
          <span class="pull-left">Time left:</span>
          <span class="pull-right" id="globalnextvotelimitremaining" style="font-weight: bold">???</span>
          <br>
          <hr>
          <span class="pull-left">Valid proposals:</span>
          <span class="pull-right label label-warning" id="globalvalidbudget">???</span>
          <br>
          <span class="pull-left">Funded proposals:</span>
          <span class="pull-right label label-success" id="globalestablishedbudget">???</span>
          <br>
          <span class="pull-left">Funded amount:</span>
          <span class="pull-right label label-success" id="globalestablishedbudgetamount">???</span>
          <br>
          <!-- <a class="pull-left btn btn-success btn-sm waves-light" mdbWavesEffect>Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted primary-color white-text">
          <p class="mb-0">2 days ago</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header primary-color white-text">
          Proposal #
        </div>
        <div class="card-body">
          <!-- <h4 class="card-title">Special title treatment</h4> -->
          <span class="pull-left">Vote deadline:</span>
          <span class="pull-right" id="globalnextvotelimitdate" style="font-weight: bold">???</span>
          <br>
          <span class="pull-left">Time left:</span>
          <span class="pull-right" id="globalnextvotelimitremaining" style="font-weight: bold">???</span>
          <br>
          <hr>
          <span class="pull-left">Valid proposals:</span>
          <span class="pull-right label label-warning" id="globalvalidbudget">???</span>
          <br>
          <span class="pull-left">Funded proposals:</span>
          <span class="pull-right label label-success" id="globalestablishedbudget">???</span>
          <br>
          <span class="pull-left">Funded amount:</span>
          <span class="pull-right label label-success" id="globalestablishedbudgetamount">???</span>
          <br>
          <!-- <a class="pull-left btn btn-success btn-sm waves-light" mdbWavesEffect>Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted primary-color white-text">
          <p class="mb-0">2 days ago</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header primary-color white-text">
          Proposal #
        </div>
        <div class="card-body">
          <!-- <h4 class="card-title">Special title treatment</h4> -->
          <span class="pull-left">Vote deadline:</span>
          <span class="pull-right" id="globalnextvotelimitdate" style="font-weight: bold">???</span>
          <br>
          <span class="pull-left">Time left:</span>
          <span class="pull-right" id="globalnextvotelimitremaining" style="font-weight: bold">???</span>
          <br>
          <hr>
          <span class="pull-left">Valid proposals:</span>
          <span class="pull-right label label-warning" id="globalvalidbudget">???</span>
          <br>
          <span class="pull-left">Funded proposals:</span>
          <span class="pull-right label label-success" id="globalestablishedbudget">???</span>
          <br>
          <span class="pull-left">Funded amount:</span>
          <span class="pull-right label label-success" id="globalestablishedbudgetamount">???</span>
          <br>
          <!-- <a class="pull-left btn btn-success btn-sm waves-light" mdbWavesEffect>Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted primary-color white-text">
          <p class="mb-0">2 days ago</p>
        </div>
      </div>
    </div>


  </div>
  <!-- ./Governance Proposals -->

  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header primary-color white-text">
          Budget proposals info
        </div>
        <div class="card-body">
          <!-- <h4 class="card-title">Special title treatment</h4> -->
          <p>A governance proposal is
            <strong>valid</strong> if the fee was payed and it was submitted to peers successfully.</p>
          <p class="mb-0">A governance proposal is
            <strong>funded</strong> (will get paid on next super-block if enough funding available in next super-block.</p>
        </div>
        <button type="button" class="btn btn-mdb-color waves-light" mdbWavesEffect> Read more about our governance and budget system</button>
      </div>
    </div>
  </div>

  <app-proposal></app-proposal>

  <app-budget-proposals-details></app-budget-proposals-details>