<!-- Governance Proposals -->
<div class="container container-padding">
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <h1 class="h1-responsive text-center">Governance Proposals</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header primary-color white-text">
          Overview
        </div>
        <div class="card-body">
          <!-- <h4 class="card-title">Special title treatment</h4> -->
          <span class="pull-left">Vote deadline:</span>
          <span class="pull-right" id="globalnextvotelimitdate" style="font-weight: bold">???</span>
          <br>
          <span class="pull-left">Time left:</span>
          <span class="pull-right" id="globalnextvotelimitremaining" style="font-weight: bold">???</span>
          <br>
          <hr>
          <span class="pull-left">Valid proposals:</span>
          <span class="pull-right label label-warning" id="globalvalidbudget">{{this.proposalMetadata.validProposalCount}}</span>
          <br>
          <span class="pull-left">Funded proposals:</span>
          <span class="pull-right label label-success" id="globalestablishedbudget">{{this.proposalMetadata.fundedProposalCount}}</span>
          <br>
          <span class="pull-left">Funded amount:</span>
          <span class="pull-right label label-success" id="globalestablishedbudgetamount">???</span>
          <br>
          <!-- <a class="pull-left btn btn-success btn-sm waves-light" mdbWavesEffect>Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted primary-color white-text">
          <p class="mb-0">2 days ago</p>
        </div>
      </div>
    </div>
    <!-- ./Governance Proposals -->

    <!-- Budget Proposal info -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header primary-color white-text">
          Budget proposals info
        </div>
        <div class="card-body proposal-info-spacing">
          <p>A governance proposal is
            <strong>valid</strong> if the fee was payed and it was submitted to peers successfully.</p>
          <p class="mb-0">A governance proposal is
            <strong>funded</strong> (will get paid on next super-block if enough funding available in next super-block.</p>
        </div>
        <div class="card-footer text-muted primary-color white-text text-center">
          <p class="mb-0">Read more about our governance and budget system</p>
        </div>
        <!-- <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>
          Read more about our governance and budget system
          <mdb-icon class="pl-1" icon="arrow-right"></mdb-icon>
        </button> -->
      </div>
    </div>
  </div>
  <!-- ./Budget Proposal info -->

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header primary-color lighten-1 white-text">
          Budget Proposals
        </div>
        <div class="card-body">
          <table class="table table-hover table-sm table-striped">
            <thead>
              <tr>
                <th class="pl-1">Name</th>
                <th class="pl-1">Amount</th>
                <th class="pl-1">Votes Yes</th>
                <th class="pl-1">Votes No</th>
                <th class="pl-1">Votes Abstain</th>
                <th class="pl-1">Total Ratio</th>
                <th class="pl-1">Valid</th>
                <th class="pl-1">Funded</th>
                <th class="pl-1">View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proposal of proposals">
                <td>
                  <a [routerLink]="['/proposal', proposal.name]">
                    {{proposal.name}}
                  </a>
                </td>
                <td>{{proposal.amount}}</td>
                <td>{{proposal.yeas}}</td>
                <td>{{proposal.nays}}</td>
                <td>{{proposal.abstains}}</td>
                <td>{{proposal.ratio | rounddecimal}}</td>
                <td>{{proposal.isValid}}</td>
                <td>{{proposal.isFunded}}</td>
                <td>
                  <a [routerLink]="['/proposal', proposal.name]">
                    <mdb-icon icon="eye"></mdb-icon>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center ">
            <pagination [boundaryLinks]="true " [totalItems]="pagination.totalItems " [itemsPerPage]="pagination.itemsPerPage
                    " [(ngModel)]="pagination.currentPage " (pageChanged)="pageChanged($event) " previousText="&lsaquo; "
              nextText="&rsaquo; " firstText="&laquo;
                    " lastText="&raquo; ">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
