<div class="container container-padding">
  <div class="row">
    <div class="col-md-12 col-md-offset-2">
      <h1 class="h1-responsive text-center">Oops, you're lost!</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">

      <div class="col-md-6 offset-md-3">
        <div class="card text-center">

          <div class="card-body">
            <p>Page lost in space, you may go back to the planet you came from.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
