.container {
  max-width: 1310px !important;
}

.container-padding {
  padding-top: 1.25rem;
}

a .clear-margin {
  margin: 0;
}

.row {
  padding: 1.25rem 0 1.25rem 0;
}

// .mb-0 {
//   margin-bottom: 0 !important;
// }

// .wrapper {
//   background: #59698d;
// }

// .wrapper h1 {
//   color: #f9f9f9;
// }
