body {
  color: #f1f1f1 !important;
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  max-width: 1310px !important;
}

.container-padding {
  padding-top: 5.5rem;
}

a .clear-margin {
  margin: 0;
}

a {
  transition-delay: 0.2;
}

a:hover,
a:active {
  color: #08eec3 !important;
}

.row {
  padding: 1.25rem 0 1.25rem 0;
}

.btn {
  font-size: 0.9rem;
  // font-weight: bold;
}

.card-footer {
  padding: 0.5rem;
}

.card-dark {
  background-color: #59698d !important;
  color: #fff !important;
}

.no-shadow {
  box-shadow: none !important   ;
}

code {
  margin-bottom: 1rem !important;
  padding: 0.5rem;
  background: #3e4551;
  color: #d8d8d8;
}

.card-header {
  background: #59698d !important;
}

.card-body {
  background: #495674 !important;
}

.table-bordered {
  border: #5f7094 1px dashed !important;
}

.proposal-details-table td,
.proposal-details-table tr,
.proposal-details-table th,
.proposal-details-table tbody {
  border: #5f7094 1px dashed !important;
}

mdb-navbar > nav {
  box-shadow: 2px -2px 20px 0px rgba(8, 221, 182, 0.73), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.disabled-box {
  background: #8c454cba !important;
}

.table td {
  padding-left: 0.6rem;
}

.table td a {
  color: #f1f1f1 !important;
}

.table td a:hover {
  color: #08ddb6 !important;
}

.active-tab {
  color: #08eec3 !important;
}
// body {
//   height: 100%;
// }
